language: generic
dist: trusty

os: linux
compiler: gcc-5
env: COMPILER="g++-5"
addons:
  apt:
    packages:
      - rpm
    sources:
      - ubuntu-toolchain-r-test

script:
- mkdir build && cd build
- sudo apt-get install libssl-dev libcurl4-openssl-dev libpugixml-dev
#- cmake .. -DHOME_PUGIXML="/usr/local" 
- cmake ..
- make

before_deploy:
- cpack -G DEB
- cpack -G RPM

deploy:
  provider: releases
  api_key:
    secure: Nw+EWdOlFeDc8vt4gdzXgoHh17oUeh8IpzGUyR4WukIHeKIsdJUrxTlSXvQ58rwwZXR$
  file:
    - /*.deb/
    - /*.rpm/
  on:
    tags: true
