language: generic
matrix:
  include:
    - os: linux
      sudo: required
      env: COMPILER_NAME=gcc CXX=g++-5 CC=gcc-5
      addons:
        apt:
          packages:
            - g++-5
            - cmake
          sources: &sources
            - llvm-toolchain-precise
            - ubuntu-toolchain-r-test
    - os: linux
      sudo: required
      env: COMPILER_NAME=gcc CXX=g++-4.9 CC=gcc-4.9
      addons:
        apt:
          packages:
            - g++-4.9
            - cmake
          sources: &sources
            - llvm-toolchain-precise
            - ubuntu-toolchain-r-test
    - os: osx
      compiler: clang-3.8
      env: COMPILER=clang++ -std=c++11

install:
- wget https://github.com/curl/curl/archive/curl-7_48_0.tar.gz -O curl-7_48_0.tar.gz
- tar -xf curl-7_48_0.tar.gz && cd curl-curl-7_48_0
- mkdir build && cd build && cmake ..
- make && sudo make install
- cd ../.. && rm -rf curl-curl-7_48_0 && rm -f curl-7_48_0.tar.gz

script:
- mkdir build && cd build
- cmake .. && make
